<!DOCTYPE html>
<html>
	<head>
		<title>FirstProject</title>

		<!-- Added Bootstrap links -->
		<link rel="stylesheet" href="//railsgirls.com/assets/bootstrap.css">
		<link rel="stylesheet" href="//railsgirls.com/assets/bootstrap-theme.css">

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<div class="jumbotron">
			<h1>Hello, world!</h1>
			<p>
				...
			</p>
			<p>
				<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
			</p>
		</div>

		<!-- REM: Added your JS at bottom of the page to load last -->
		<script src="//railsgirls.com/assets/bootstrap.js"></script>

	</body>
</html>

